<!DOCTYPE html>
<html>
  <head>
      <script src="https://unpkg.com/vue@next"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      <title>{% block title %}Accueil RunForFun{% endblock %}</title>
      {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
  </head>
  {% block navbar %}
    <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
      <a class="navbar-brand" href="/home" >RunForFun</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        <div class="dropdown">
          <li class="nav-item-dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Courses
            </a>
            <div id="lescourses" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> 
              <a labelledby="lescourses" class="dropdown-item" href="/courses/listes">A venir</a>
              {% if app.user %}
                {% if app.user.estOrganisateur %}
                  <a labelledby="lescourses" class="dropdown-item" href="/creation/courses">Création</a>
                  <a labelledby="lescourses" class="dropdown-item" href="/courses/organisees">Organisées</a>
                {% else %}
                  <div labelledby="lescourses" id="bouton-courses" data="Résultats"></div>
                {% endif %}
              {% endif %}
            </div>
          </li>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/voirRecompenses">Récompenses </a>
          </li>
          <div class="dropdown">
          <li class="nav-item-dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mon Compte
            </a>
            <div id="leprofil" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a labelledby="leprofil" class="dropdown-item" href="/profil">Mon Profil</a>
            </div>
          </li>
          </div>  
        </ul>
      </div>
      <div class="d-flex" style="margin-right:30px; margin-top:20px">
      {% if app.user %}
        {% if app.user.estOrganisateur %}
          <p style="color: white">Compte Organisateur</p>
        {% else %}
          <p style="color: white">Compte Coureur</p>
        {% endif %}
      {% endif %}
      </div>
      {% if app.user == null %}
      <div class="d-flex">
        <a href="/login">
          <button class="btn btn-primary" type="button">Connexion</button>
        </a>
      </div>
      {% else %}
      <div class="d-flex">
        <a href="/logout">
          <button class="btn btn-primary" type="button">Déconnexion</button>
        </a>
      </div>
      {% endif %}
      </div>
    </nav>
{% endblock %}

{% block body %}

{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
<style>
  
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: center;
  min-width: 15rem;
  font-size: 1rem;
  color: #212529;
  text-align: center;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 0.25rem;
}
</style>