{% extends 'base.html.twig' %}

{# début du bloc body #}
{% block body %}

<div style="position: absolute; right: 0   ;">
  <p>Votre nombre de points : <span id="nombre"></span></p>
</div>
<div id='liste-recompenses'>
    {# L'appli Vue.js vivra ici #}
</div>

{% endblock %}