{% extends 'base.html.twig' %}

{# début du bloc body #}
{% block body %}
<div id='result-course' data="{{ idCourse }}" data-user="{{ app.user.id|json_encode() }}">
    {# L'appli Vue.js vivra ici #}
</div>

{% endblock %}